*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
  }
  body {
    font-family: 'Segoe UI', sans-serif; 
    background-color:  #4b3928; 
    color: #f1e8e6; 
  }
  /* SABİT ÜST BÖLÜM */
  .header-banner {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 150px; 
    background-image: url("../../Resimler/serit.jpg"); 
    background-size: cover; 
    background-position: center; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    z-index: 1000; 
  }
  /* menü alanı */
  .main-nav {
    margin-top: 160px; 
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    background-color: #2d2424; 
    padding: 10px 0; 
    }

    .icon {
        width: 64px;
        height: 64px;
        object-fit: contain; 
        display: block;
        margin: auto; 
      }
      .icon-wrapper {
        position: relative;
        display: inline-block;
        margin: 10px;
      }
    
      .tooltip {
        visibility: hidden;
        background-color: #3b3b3b; 
        color: #fff; 
        text-align: center;
        font-size: 12px;
        padding: 6px 8px;
        border-radius: 6px;
      
        
        position: absolute;
        bottom: 110%; 
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
      
        
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 1;
      }
      .icon-wrapper:hover .tooltip {
        visibility: visible;
        opacity: 1;
      }
  .main-nav img {
    width: 40px; 
    height: 40px; 
    cursor: pointer; 
    transition: transform 0.3s ease; 
  }
  
  .main-nav img:hover {
    transform: scale(1.1); 
  }
  .filter-btn {
  margin: 20px auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 10px; 
  background-color: #8d6e63;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.filter-btn:hover {
  background-color: #a1887f;
}


.news-container {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  padding: 20px;
  max-width: 1200px;
  margin: auto; 
}

.news-card {
  background-color: #2D1F13;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.news-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.read-more {
  background-color: #4e342e;
  color: white;
  border-radius: 6px;
}
.read-more:hover {
  background-color: #6d4c41;
}
/* YUKARI ÇIK BUTONU */
  .back-to-top {
    position: fixed; 
    bottom: 60px; 
    right: 20px; 
    width: 50px; 
    height: 50px; 
    z-index: 999; 
    cursor: pointer; 
  }
  
  .back-to-top img {
    width: 100%;
    height: auto; 
  }
  
  /* MOBİL UYUMLULUK */
  @media (max-width: 768px) {
    .logo-text {
      font-size: 24px; 
    }
  @media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  nav ul {
    flex-direction: column;
    gap: 10px;
  }
}
  }
  